@import "./styles/form.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-solid {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }
  .btn-outline {
    @apply bg-blue-400 bg-opacity-20 hover:bg-opacity-40 text-blue-700 border-[1px] border-blue-700;
  }
}
